<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>My page title</title>
    <link rel="stylesheet" type="text/css" href="../../static/services/ouat.css"/>

</head>

<body>
<div id="body">
    <header class="header">

        <a class="SA_beautybar" href="#"> SA_beautybar</a>


        <div class="meniu">
            <nav class="nav">
                <ul>
                    <li><a href="../home2.html">Acasă</a>

                    <li><a href="../services/ingrijireaparului.html">Îngrijirea părului</a>
                    <li><a href="../services/nails.html">Îngrijirea unghiilor</a>

                    <li><a href="contacte.html">Contacte</a>
                </ul>
                <a target="_blank" class="icon_f" href="https://www.facebook.com/SA_beautybar-106037037839293/"><img
                        src="../../static/fb_icon.png" width="30px" height="30px"></a>
                <a target="_blank" class="icon_f" href="https://www.instagram.com/sa_beautybar/"><img
                        src="../../static/insta_icon.png" width="30px" height="30px"></a>
            </nav>
            <div class="nav-show">
                <img src="list.png" width="30px" height="30px">
            </div>
        </div>
    </header>


    <div class="titlu3">
        CONTACTE
    </div>

    <div class="flex">

        <div class="contacte1">
            <br><br>
            <p><strong class="f1">APELEAZA SAU INTRĂ!</strong><br><br>
                TELEFON: (373) 69-488-005
                <br><br>
                Oaspeții sunt întotdeauna bineveniți!
                Sunați sau scrieti pentru a face o programare.</p>
            <br><br>
            <hr class="linierand">
            <br><br>
            <p><strong class="f1">
                LOCAȚIE</strong><br><br>
                2037, Chișinău<br>
                str. ișnovăț 13</p>
            <br><br>
            <hr class="linierand">
            <br><br>
            <p><strong class="f1">ORELE DE LUCRU:</strong></p>
            <br>
            <p class="info">Luni-Vineri 9-18 <br><br>
                Sâmbătă 9-16 <br><br>
                Duminică - zi liberă<br><br>
                <i>-Programările de seară sunt disponibile la cerere-</i>
                <br><br>

            </p>
            <br><br>

        </div>


        <div class="formular">
            <div class="form">
                <div class="form-wrapper">

                    <div class="form-inner-wrapper">
                        <form data-form-id="5c9ebb169140b7ccd7b33284" data-success-redirect="" autocomplete="on"
                              method="POST" action="email-rec.html" onsubmit="return (function (form) {
  Y.use('squarespace-form-submit', 'node', function usingFormSubmit(Y) {
    (new Y.Squarespace.FormSubmit(form)).submit({
      formId: '5c9ebb169140b7ccd7b33284',
      collectionId: '5c9ebb1671c10b981ff804a0',
      objectName: 'page-5c9ebb1671c10b981ff804a0'
    });
  });
  return false;
})(this);">

                            <div class="field-list clear">


                                <fieldset id="name-yui_3_17_2_1_1553906090862_79037"
                                          class="form-item fields name required">

                                    <legend class="title">
                                        Name

                                        <span class="required" aria-hidden="true">*</span>

                                    </legend>


                                    <div class="field first-name">
                                        <label class="caption">
                                            <input class="field-element field-control" name="fname"
                                                   x-autocompletetype="given-name" type="text" spellcheck="false"
                                                   maxlength="30" data-title="First" aria-required="true">
                                            <span class="caption-text">First Name</span>
                                        </label>
                                    </div>
                                    <div class="field last-name">
                                        <label class="caption">
                                            <input class="field-element field-control" name="lname"
                                                   x-autocompletetype="surname" type="text" spellcheck="false"
                                                   maxlength="30" data-title="Last" aria-required="true">
                                            <span class="caption-text">Last Name</span>
                                        </label>
                                    </div>
                                </fieldset>


                                <div id="email-yui_3_17_2_1_1553906090862_79038" class="form-item field email required">

                                    <label class="title" for="email-yui_3_17_2_1_1553906090862_79038-field">
                                        Email

                                        <span class="required" aria-hidden="true">*</span>

                                    </label>


                                    <input class="field-element" id="email-yui_3_17_2_1_1553906090862_79038-field"
                                           name="email" type="email" autocomplete="email" spellcheck="false"
                                           aria-required="true">
                                </div>


                                <div id="text-yui_3_17_2_1_1553906090862_79039" class="form-item field required">

                                    <label class="title" for="text-yui_3_17_2_1_1553906090862_79039-field">
                                        Subject

                                        <span class="required" aria-hidden="true">*</span>

                                    </label>


                                    <input class="field-element text" type="text"
                                           id="text-yui_3_17_2_1_1553906090862_79039-field" aria-required="true">
                                </div>


                                <div id="textarea-yui_3_17_2_1_1553906090862_79040"
                                     class="form-item field textarea required">

                                    <label class="title" for="textarea-yui_3_17_2_1_1553906090862_79040-field">
                                        Message

                                        <span class="required" aria-hidden="true">*</span>

                                    </label>


                                    <textarea class="field-element "
                                              id="textarea-yui_3_17_2_1_1553906090862_79040-field"
                                              aria-required="true"></textarea>
                                </div>

                            </div>


                            <div data-animation-role="button" class="
          form-button-wrapper
          
            form-button-wrapper--align-left
          
        ">
                                <input class="button sqs-system-button sqs-editable-button" type="submit"
                                       value="Submit">
                            </div>


                            <div class="hidden form-submission-text"><p>Vă mulțumim pentru email!</p></div>
                            <div class="hidden form-submission-html" data-submission-html=""></div>
                        </form>
                    </div>
                </div>
            </div>


            <br><br>

            <div class="harta">
                <iframe src="https://www.google.com/maps/@47.0092569,28.8900935,16z?hl=ro" align-self="center"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>


    <br> <br><br> <br><br> <br>
    <hr class="liniafinal">

    <div>
        <p class="footer">
            +(373)69-488-005<br><br>
        <div class="meniu2">

            <ul class="flex2">
                <li><a href="../home2.html">Acasă</a>

                <li><a href="../services/ingrijireaparului.html">Îngrijirea părului</a>
                <li><a href="../services/nails.html">Îngrijirea unghiilor</a>

                <li><a href="contacte.html">Contacte</a>
            </ul>
        </div>
        <br><br>
        <div class="copy"><i>©Copyright 2020 by Sula Alina. All rights reserved.</i></div>
        </p>
    </div>

</div>


<script src="js/jquery.min.js"></script>
<script>

    $(".nav-show").click(function () {
        $(".nav").toggleClass("active");
    });

</script>

</body>
</html>



