<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>My page title</title>
    <link rel="stylesheet" type="text/css" href="../static/services/ouat.css"/>

</head>

<body>
<div id="body">
    <header class="header">

        <a class="SA_beautybar" href="#"> SA_beautybar</a>


        <div class="meniu">
            <nav class="nav">
                <ul>
                    <li><a href="home2.html">Acasă</a>

                    <li><a href="services/ingrijireaparului.html">Îngrijirea părului</a>
                    <li><a href="services/nails.html">Îngrijirea unghiilor</a>

                    <li>
                        <a href="file:///Users/alinacepraga/Desktop/sa_beautybar/contacte%C2%A0—%20копия.html">Contacte</a>
                </ul>


                <a target="_blank" class="icon_f" href="https://www.facebook.com/SA_beautybar-106037037839293/"><img
                        src="../static/fb_icon.png" width="30px" height="30px"></a>

                <a target="_blank" class="icon_f" href="https://www.instagram.com/sa_beautybar/"><img
                        src="../static/insta_icon.png" width="30px" height="30px"></a>
            </nav>

            <div class="nav-show">
                <img src="list.png" width="30px" height="30px">
            </div>
        </div>
    </header>

    <div class="imaginea1">
        <p class="topic"><br><br><br>Detaliile compun perfecțiunea, dar Perfecțiunea nu este un detaliu!
        </p>
        <p class="text">
            Încercam sa facem o diferență pozitivă în ziua fiecărei persoane și de a trata clienții noștri precum
            familia. Așteptăm cu nerăbdare următoarea vizită!
            <br><br><br>
        <p class="triangle-down"><a href="#"></a></p>
    </div>


    <div class="flex">

        <div class="homep">
            <div class="text-homep"><p><br>
                <p class="titlu">TRATAȚI-VĂ Azi!</p>
                Clienții walk-in sunt bineveniți! Programările pentru check-in sunt supuse disponibilității. Pentru a
                face o întâlnire cu oricare dintre furnizorii noștri de servicii, sunați la 069-488-005.</p></div>
        </div>

        <div class="hours">
            <p class="info">Luni-Vineri 9-18 <br><br>
                Sâmbătă 9-16 <br><br>
                Duminică - zi liberă<br><br>
                <i>-Programările de seară sunt disponibile la cerere-</i>
                <br><br>


            </p>
        </div>

    </div>


    <div class="location">
        <hr class="linia">
        <p> ADRESA <br><br>
            Orașul Chișinau:<br>
            strada Ianovat 13 <br>
        </p>
        <hr class="linia">

    </div>

    <div class="happyclients">
        <p class="titlu"> CLIENȚII FERICIȚI </p>
        <div class="pareri">
            <p class="opinie">

                <strong>MARE MUNCĂ PE UNGHIUȚELE MELE!</strong><br><br><br>
                "Mulțumesc pentru această muncă grozavă pe unghiile mele. Ești cea mai bună !!!!"<br><br>

                -Maria
            </p>

            <p class="opinie">

                <strong>NU VOI FI DEZAMĂGITĂ.</strong><br><br><br>
                „Nu aș putea fi mai fericită cu Salonul SA_beautybar . Nu există niciun alt loc în Chișinău care să se
                poată compara cu serviciul lor profesional și prietenos. Sunt un client fidel al celor de la Silvia timp
                de 18 ani. Mă face să mă simt specială ori de câte ori stau pe scaunul ei. Toți stilistii sunt cu toții
                pregătiți și experți în domeniul lor. Elvira a fost, de asemenea, atât de primitoare și grijulie ca
                proprietar de piese. Aș recomanda cu mare drag acest salon pentru nu numai îngrijirea părului, ci și
                nevoile de îngrijire a unghiilor și pielii. Nu veți fi dezamăgiți ”.<br><br>


                - Emma
            </p>

            <p class="opinie">

                <strong>CEl MAI BUN LOC DE MERS ÎN CHIȘINĂU!</strong><br><br><br>
                „În urmă cu 2 ani, am intrat în acest salon în căutarea unui stilist nou. Le-am spus că am nevoie de
                cineva care să fie bun cu părul subțire și fin. Am fost prezentată Silviei, care și-a luat timp să
                vorbească cu mine despre părul meu, ce îmi doream în ceea ce privește serviciul, stilul, etc. Am făcut o
                programare, iar restul este istorie. Inutil să spun, sunt un client foarte fericit!

                În acei 2 ani, am fost mai mult decât mulțumit de Salonul SA_beautybar. Personalul este întotdeauna
                foarte prietenos și primitor. Salonul este un loc frumos unde să te relaxezi - la modă, super curat și
                relaxant. Profesioniști în tratamente pentru păr, unghii și spa - acesta este cel mai bun loc pentru a
                merge în Chișinău! ”<br><br>


                -Diana
            </p>
        </div>
        <a class="buton" href="file:///Users/alinacepraga/Desktop/sa_beautybar/contacte%C2%A0—%20копия.html"> Fă o
            programare!</a>
    </div>

    <br> <br>

    <hr class="liniafinal">

    <div>
        <p class="footer">
            +(373)69-488-005<br><br>

        <div class="meniu2">

            <ul class="flex2">
                <li><a href="home2.html">Acasă</a>
                <li><a href="services/ingrijireaparului.html">Îngrijirea părului</a>
                <li><a href="services/nails.html">Îngrijirea unghiilor</a>
                <li><a href="file:///Users/alinacepraga/Desktop/sa_beautybar/contacte%C2%A0—%20копия.html">Contacte</a>
            </ul>
        </div>
        <br><br>
        <div class="copy"><i>©Copyright 2020 by Sula Alina. All rights reserved.</i></div>
        </p>
    </div>

</div>


<script src="../static/scripts.js"></script>
<script>

    $(".nav-show").click(function () {
        $(".nav").toggleClass("active");
    });

</script>

</body>
</html>


