<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>My page title</title>
    <link rel="stylesheet" type="text/css" href="ouat.css"/>

</head>

<body>
<div id="body">
    <header class="header">

        <a class="SA_beautybar" href="#"> SA_beautybar</a>


        <div class="meniu">
            <nav class="nav">
                <ul>
                    <li><a href="home2.html">Acasă</a>

                    <li><a href="ingrijireaparului.html">Îngrijirea părului</a>
                    <li><a href="nails.html">Îngrijirea unghiilor</a>

                    <li>
                        <a href="file:///Users/alinacepraga/Desktop/sa_beautybar/contacte%C2%A0—%20копия.html">Contacte</a>
                </ul>

                <a target="_blank" class="icon_f" href="https://www.facebook.com/SA_beautybar-106037037839293/"><img
                        src="fb_icon.png" width="30px" height="30px"></a>
                <a target="_blank" class="icon_f" href="https://www.instagram.com/sa_beautybar/"><img
                        src="insta_icon.png" width="30px" height="30px"></a>
            </nav>

            <div class="nav-show">
                <img src="list.png" width="30px" height="30px">
            </div>
        </div>
    </header>

    <div class="imaginea-nails">
        <p class="topic"><br><br><br><br><br><br>Nails & altele<br><br><br>
        </p>
        <p class="text">
        <p class="triangle-down"><a href="#"></a></p>
    </div>
    <br><br>
    <div class="principal">
        <div class="flex">
            <div class="column1-nails">
                <div class="imagine"><img src="media/image3.jpg" width="100%"></div>
            </div>

            <div class="column2-nails">
                <p class="denum">SERVICII NAIL</p>
                <hr class="linierand">
                <br><br><br>
                Set complet de proceduri cu acril ... 300 LEI
                <br><br><br>
                Set complet de unghii cu gel cu constructor ... 250 LEI
                <br><br><br>
                Manichiura Gel …… 200 LEI
                <br><br><br>
                Manichiura frantuzeasca ... 250 LEI
                <br><br><br>
                Repararea unei Unghii ...... LEI de la 30
                <br><br><br>
                Manichiura estetica ...... 100 LEI
                <br><br><br>
                Pedichiură ...... 200 LEI
                <br><br><br>
                Pedichiura frantuzeasca ...... 250 LEI
                <br><br><br>
                Pedichiura cu gel ...... 250 LEI
                <br><br><br>
                Nail Art ... 50 LEI
                <br><br><br>
                Glitter ...... LEI de la 10
                <br><br><br>
                Tratamentul cu ceară parafină ...... 80 LEI
                <br><br><br>
            </div>


        </div>

    </div>
    <hr class="liniafinal2">

    <div class="produse">
        <p class="compartiment"><strong>SERVICII ADIȚIONALE<br></strong></p><br>
        <strong>Sculpturesque</strong><br><br>
        Asigurat de Lena Marie.Sculpturesque folosește tehnologia cu ultrasunete pentru a vă transforma corpul
        non-invaziv.<br>
        Necesită consultare: (373) 69-488005
        <br><br>
        <strong>MICROBLADING ȘI REALIZARE PERMANENTĂ</strong><br><br>
        Asigurat de Sherry Bridges.<br>
        Necesită consultare.
        <br><br>
    </div>

    <br> <br><br> <br><br> <br>
    <hr class="liniafinal">

    <div>
        <p class="footer">
            +(373)69-488-005<br><br>
        <div class="meniu2">

            <ul class="flex2">
                <li><a href="home2.html">Acasă</a>

                <li><a href="ingrijireaparului.html">Îngrijirea părului</a>
                <li><a href="nails.html">Îngrijirea unghiilor</a>

                <li><a href="file:///Users/alinacepraga/Desktop/sa_beautybar/contacte%C2%A0—%20копия.html">Contacte</a>
            </ul>
        </div>
        <br><br>
        <div class="copy"><i>©Copyright 2020 by Sula Alina. All rights reserved.</i></div>
        </p>
    </div>

</div>


<script src="js/jquery.min.js"></script>
<script>

    $(".nav-show").click(function () {
        $(".nav").toggleClass("active");
    });

</script>

</body>
</html>



